<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public\css\login.css">
    <title>login</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            

            background-size:100%;

            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h2 {
            color: #131212;
        }

        form {
            width: 300px;
            background-color: #ffffff81;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #ffffff17;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: rgb(91, 228, 12) 124, 102);
            margin-top: 10px;
            display: block;
            text-align: center;
        }
        

        a:hover {
            text-decoration: underline;
            
        }
    </style>

</head>
<body>
    <h2>Log In</h2>
    <form action = '/login' method="post">
    
    <input type = 'email' name = 'name' placeholder="Email">
    <input type = 'password' name = 'password' placeholder="Password">
    <input type="submit">

    </form>

    <a href="/signup">Make a new account</a>
</body>
</html>